div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
  
  .rainbow-letters {
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  .rainbow-letters span:nth-child(10n + 1) {
    color: #ef5350;
  }
  
  .rainbow-letters span:nth-child(10n + 2) {
    color: #ab47bc;
  }
  
  .rainbow-letters span:nth-child(10n + 3){
    color: #651fff;
  }
  
  .rainbow-letters span:nth-child(10n + 5){
    color: #3949ab;
  }
  
  .rainbow-letters span:nth-child(10n + 4) {
    color: #2196f3;
  }
  
  .rainbow-letters span:nth-child(10n + 6){
    color: #00bcd4;
  }
  
  .rainbow-letters span:nth-child(10n + 7){
    color: #4caf50;
  }
  
  .rainbow-letters span:nth-child(10n + 8){
    color: #ffc107;
  }